@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@200;800;900&display=swap');
body {font-family: 'Montserrat', sans-serif;}

/* dashboard.css */




/* end dashboard.css */

/* document.css */



/* end document.css */
/* leads.css */




/* end leads.css */

/* login-code.css */






/* end login-code.css */

/* login-tel.css */







/* end login-tel.css */

/* login.css */

.section_{
    display:flex; 
    justify-content: center;
    width: 100%;
}

.div_{
    border-radius: 39px; 
    width: 380px; 
    position: absolute; 
    top: 27%; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#span_hello_{
    color: #707070;
}

#span_meldedich_{
    color: #ACACAC;
}

.btn_anmelden__{
    background-color: #3CD598; 
    border-radius: 14px; 
    color: #fff;
}

.forgot__{
    color: #ACACAC; 
    font-size: 13px;
}

.form1 input {
    border: none;
    border-bottom: 1px #D3CDCD solid;
    border-radius: 0;
}

.form1 .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/* end login.css */

/* navbar.css */







/* end navbar.css */
/* tasks.css */








/* end tasks.css */