#pro1{
background: #BDC1CC 0% 0% no-repeat padding-box; min-width: 120px; min-height: 40px; opacity: 1;
}
#done1{
background: #00c78c 0% 0% no-repeat padding-box; min-width: 120px; min-height: 10px; opacity: 1;
}